.save-button-people {
  margin: -3em 0 0 38em;
}

.main-table-contact tbody {
  border: none!important;
}

div.edit-profile-button a {
  cursor: pointer;
  font-weight: 700;
  float: right;
  margin-top: -25px;
}

div.profile-view fieldset.profile-view-fieldset {
  margin: 0 0 10px 10px;
  padding: 0 3px;
}

div#addPeople fieldset.profile-basic-info-fieldset div.picture {
  margin-right: 10px;
}

div#addPeople fieldset.profile-basic-info-fieldset div.avatar img {
  height: 120px;
  width: 120px;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

div#addPeople fieldset div.head {
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

div.top-header-view-contact span {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.profile-view li {
  font-size: 13px;
  float: left;
  width: 62%;
}

.profile-view li .form-item {
  margin: 0!important;
  padding: .15em!important;
}

.profile-view li label {
  float: left;
  margin-right: 4px;
}

.top-header-view-contact {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
}

div#addPeople fieldset#content-comment div.picture {
  float: none!important;
}

div#addPeople fieldset#content-comment div.author-picture {
  float: left;
  width: 11%;
}

div#addPeople fieldset#content-comment div.author-info {
  float: left;
  width: 85%;
  margin-bottom: 3px;
}

div#addPeople fieldset#content-comment div.author-info span.commentDeleteIcon {
  cursor: pointer;
  margin-left: 10px;
}

.profile-view-ul {
  float: left;
  width: 70%;
}

div#addPeople fieldset#content-comment div.comments-row {
  min-height: 70px;
  min-width: 100px;
}

div#addPeople fieldset#content-comment legend a {
  cursor: pointer;
}
