.dataTables_wrapper {
  position: relative;
  clear: both;
  zoom: 1;
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 30px;
  margin-left: -125px;
  margin-top: -15px;
  border: 1px solid #ddd;
  text-align: center;
  color: #999;
  font-size: 14px;
  background-color: #fff;
  padding: 14px 0 2px;
}

.dataTables_length {
  width: 15%;
  float: right;
}

.dataTables_filter {
  width: 35%;
  float: left;
  text-align: right;
}

.dataTables_info {
  width: 60%;
  float: left;
}

.dataTables_paginate {
  float: right;
  text-align: right;
}

.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
  height: 19px;
  float: left;
  cursor: hand;
  color: #111!important;
}

.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
  text-decoration: none!important;
}

.paginate_disabled_previous,
.paginate_disabled_next {
  color: #666!important;
}

.paginate_disabled_previous,
.paginate_enabled_previous {
  padding-left: 23px;
}

.paginate_disabled_next,
.paginate_enabled_next {
  padding-right: 23px;
  margin-left: 10px;
}

.paginate_disabled_previous {
  background: url(../images/back_disabled.png) no-repeat top left;
}

.paginate_enabled_previous {
  background: url(../images/back_enabled.png) no-repeat top left;
}

.paginate_enabled_previous:hover {
  background: url(../images/back_enabled_hover.png) no-repeat top left;
}

.paginate_disabled_next {
  background: url(../images/forward_disabled.png) no-repeat top right;
}

.paginate_enabled_next {
  background: url(../images/forward_enabled.png) no-repeat top right;
}

.paginate_enabled_next:hover {
  background: url(../images/forward_enabled_hover.png) no-repeat top right;
}

table.display {
  clear: both;
  width: 100%;
  margin: 0 auto;
}

table.display thead th {
  border-bottom: 1px solid #000;
  font-weight: 700;
  cursor: hand;
  padding: 3px 18px 3px 10px;
}

table.display tfoot th {
  border-top: 1px solid #000;
  font-weight: 700;
  padding: 3px 18px 3px 10px;
}

table.display tr.heading2 td {
  border-bottom: 1px solid #aaa;
}

table.display td {
  padding: 3px 10px;
}

.sorting_asc {
  background: url(../images/sort_asc.png) no-repeat center right;
}

.sorting_desc {
  background: url(../images/sort_desc.png) no-repeat center right;
}

.sorting {
  background: url(../images/sort_both.png) no-repeat center right;
}

.sorting_asc_disabled {
  background: url(../images/sort_asc_disabled.png) no-repeat center right;
}

.sorting_desc_disabled {
  background: url(../images/sort_desc_disabled.png) no-repeat center right;
}

table.display tr.odd.gradeA {
  background-color: #dfd;
}

table.display tr.even.gradeC {
  background-color: #eef;
}

table.display tr.even.gradeX {
  background-color: #fee;
}

table.display tr.even.gradeU {
  background-color: #eee;
}

tr.odd {
  background-color: #e2e4ff;
}

tr.even {
  background-color: #fff;
}

.dataTables_scrollBody {
  margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.top,
.bottom {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 15px;
}

.top .dataTables_info {
  float: none;
}

tfoot input {
  width: 100%;
  color: #444;
  margin: .5em 0;
}

tfoot input.search_init {
  color: #999;
}

td.group {
  background-color: #d1cfd0;
  border-bottom: 2px solid #a19b9e;
  border-top: 2px solid #a19b9e;
}

td.details {
  background-color: #d1cfd0;
  border: 2px solid #a19b9e;
}

.example_alt_pagination div.dataTables_info {
  width: 40%;
}

.paging_full_numbers {
  width: 400px;
  height: 22px;
  line-height: 22px;
}

.paging_full_numbers a:hover {
  text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
  border: 1px solid #aaa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: hand;
  color: #333!important;
  margin: 0 3px;
  padding: 2px 5px;
}

.paging_full_numbers a.paginate_button:hover {
  background-color: #ccc;
  text-decoration: none!important;
}

.paging_full_numbers a.paginate_active {
  background-color: #99b3ff;
}

table.display tr.even.row_selected td {
  background-color: #b0bed9;
}

table.display tr.odd.row_selected td {
  background-color: #9fafd1;
}

tr.odd td.sorting_1 {
  background-color: #d3d6ff;
}

tr.odd td.sorting_2 {
  background-color: #dadcff;
}

tr.odd td.sorting_3 {
  background-color: #e0e2ff;
}

tr.even td.sorting_1 {
  background-color: #eaebff;
}

tr.even td.sorting_2 {
  background-color: #f2f3ff;
}

tr.even td.sorting_3 {
  background-color: #f9f9ff;
}

tr.odd.gradeA td.sorting_1 {
  background-color: #c4ffc4;
}

tr.even.gradeA td.sorting_1 {
  background-color: #d5ffd5;
}

tr.odd.gradeC td.sorting_1 {
  background-color: #c4c4ff;
}

tr.even.gradeC td.sorting_1 {
  background-color: #d5d5ff;
}

tr.odd.gradeX td.sorting_1 {
  background-color: #ffc4c4;
}

tr.even.gradeX td.sorting_1 {
  background-color: #ffd5d5;
}

tr.odd.gradeU td.sorting_1 {
  background-color: #c4c4c4;
}

tr.even.gradeU td.sorting_1 {
  background-color: #d5d5d5;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
  background-color: #ddff75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
  background-color: #e7ff9e;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
  background-color: #e2ff89;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
  background-color: #d6ff5c;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
  background-color: #e0ff84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
  background-color: #dbff70;
}

table.KeyTable td {
  border: 3px solid transparent;
}

table.KeyTable td.focus {
  border: 3px solid #36f;
}

div.box {
  height: 100px;
  overflow: auto;
  border: 1px solid #8080ff;
  background-color: #e5e5ff;
  padding: 10px;
}

.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active,
table.display thead th:active,
table.display thead td:active,
.paging_full_numbers a:active {
  outline: none;
}

table.display td.center,
.dataTables_empty {
  text-align: center;
}

table.display tr.even.gradeA,
table.display tr.gradeA {
  background-color: #efe;
}

table.display tr.odd.gradeC,
table.display tr.gradeC {
  background-color: #ddf;
}

table.display tr.odd.gradeX,
table.display tr.gradeX {
  background-color: #fdd;
}

table.display tr.odd.gradeU,
.paging_full_numbers a.paginate_button,
table.display tr.gradeU {
  background-color: #ddd;
}

.dataTables_scroll,
.clear {
  clear: both;
}

tr.odd.gradeA td.sorting_2,
tr.odd.gradeA td.sorting_3 {
  background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_2,
tr.even.gradeA td.sorting_3 {
  background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_2,
tr.odd.gradeC td.sorting_3 {
  background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_2,
tr.even.gradeC td.sorting_3 {
  background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_2,
tr.odd.gradeX td.sorting_3 {
  background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_2,
tr.even.gradeX td.sorting_3 {
  background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_2,
tr.odd.gradeU td.sorting_3 {
  background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_2,
tr.even.gradeU td.sorting_3 {
  background-color: #e2e2e2;
}

.ex_highlight #example tbody tr.even:hover,
#example tbody tr.even td.highlighted,
.ex_highlight_row #example tr.even:hover {
  background-color: #ecffb3;
}

.ex_highlight #example tbody tr.odd:hover,
#example tbody tr.odd td.highlighted,
.ex_highlight_row #example tr.odd:hover {
  background-color: #e6ff99;
}
