#overlay_form,
#overlay_form2,
#rem_overlay_form,
.overlay_form {
  position: absolute;
  border: 5px solid gray;
  background: #fff;
  width: auto;
  height: auto;
  z-index: 99999;
  left: 300px!important;
  padding: 10px;
}

#pop {
  display: block;
  border: 1px solid gray;
  width: 65px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  left: 300px!important;
  margin: 0 auto;
  padding: 6px;
}

#confirm-close,
#confirm-close2,
#rem-confirm-close,
#rem-list-confirm-close,
#import-close {
  background: url(../images/icon-popover-close.png) no-repeat top left;
  left: 165px;
  position: absolute;
  top: -27px;
  width: 25px;
  height: 25px;
}

#overlay_form2 #confirm-close2 {
  left: 325px;
}

#rem-confirm-close {
  left: 315px;
}

#rem-list-confirm-close {
  left: 165px;
}

#import-close {
  left: 440px;
  border: none;
}

.modalOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}

#loader {
  margin-left: 100px;
}

#suggest-friend-list {
  clear: both;
}

.set-message,
.set-message-outer,
#import-contact-status-wrapper-sucess {
  background-color: #fff;
  color: #33a333;
  display: none;
  clear: both;
  text-align: left;
  border-color: #c7f2c8;
  margin: 0;
  padding: .5em 1em;
}

.dataTables_filter label {
  font-weight: 700;
}

.dataTables_filter input {
  width: 220px;
  height: 25px;
}

.contact-top {
  float: right;
  width: auto;
  margin: 15px 0;
}

.show-my-contact,
#edit-show-myaccount-wrapper {
  float: left;
  margin: 0;
  padding: 0;
}

.more-contacts {
  float: left;
  margin: 0 0 0 5px;
  padding: 0;
}

.more-contacts a {
  cursor: pointer;
  text-decoration: none!important;
  margin: 0 3px;
  padding: 5px;
}

.no-recordes {
  border: 1px solid #aaa;
  background-color: #d8d4d4;
  margin: 0 0 0 8px;
  padding: 2px 5px;
}

#edit-add-user-friends-list-wrapper {
  float: left;
}

#search_con_by_user {
  float: left;
  margin: 29px 0 0 15px;
}

.loader img {
  position: absolute;
  z-index: 9999;
  margin: 25px 0 0 50px;
}

#edit-csv-file-wrapper .description a {
  background: none;
  border: none;
  text-decoration: underline!important;
  margin: 0;
}

#import-contact-status-wrapper-error {
  background-color: #fcc;
  color: #a30000;
  border: 1px solid #d77;
  padding: 2px;
}

#import-contact-status-wrapper-sucess {
  display: block;
}

.not-imported {
  color: #a30000;
}

.not-import {
  background-color: #fcc;
  color: #a30000;
  border: 1px solid #d77;
  margin: 0;
  padding: .5em 1em;
}
